// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// add these:
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/solid";

.btn-plus
{
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.fa-plus
{
    margin-left: 10px;
}

tr > th
{
    white-space: nowrap
}
